.chairProductDesc{
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.chairProductDescContainer{
    display: flex;
    max-width: 1280px;
}






